//оформление элементов, которые выглядят как кнопки, втч ссылок как кнопки

@use "../base/variables" as *

.button
  display: inline-flex
  font-size: 1.4rem
  line-height: 1.143
  font-weight: $fs_regular
  align-items: center
  justify-content: center
  padding-left: 1em
  padding-right: 1em
  text-align: center
  white-space: nowrap



.button-style1
  $color_main: $text_c_300
  $color_active: $text_c_000
  position: relative
  padding: 1.143em 4em
  background-color: $color_main
  color: $color_active
  border-radius: 3.65em
  overflow: hidden
  &::before, &::after
    pointer-events: none
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    border: none
  &::before
    left: 0
    right: calc(50% + 1px)
    border-top: 5px solid $color_main
    border-bottom: 5px solid $color_main
    border-left: 5px solid $color_main
    border-top-left-radius: 3.6em
    border-bottom-left-radius: 3.6em
  &::after
    right: 0
    left: calc(50% + 1px)
    border-top: 1px solid $color_main
    border-bottom: 1px solid $color_main
    border-right: 1px solid $color_main
    border-top-right-radius: 3.6em
    border-bottom-right-radius: 3.6em
  &:hover, &:active
    background-color: $color_active
    color: $color_main
    border-radius: 3.65em
  &:focus
    background-color: $color_main
    color: $color_active
    border-radius: 3.65em

.button-style2
  $color_main: $text_c_300
  $color_active: $text_c_000
  position: relative
  padding: 1.143em 4em
  background-color: $color_active
  color: $color_main
  border-radius: 3.65em
  overflow: hidden
  &::before, &::after
    pointer-events: none
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    border: none
  &::before
    left: 0
    right: calc(50% + 1px)
    border-top: 5px solid $color_main
    border-bottom: 5px solid $color_main
    border-left: 5px solid $color_main
    border-top-left-radius: 3.6em
    border-bottom-left-radius: 3.6em
  &::after
    right: 0
    left: calc(50% + 1px)
    border-top: 1px solid $color_main
    border-bottom: 1px solid $color_main
    border-right: 1px solid $color_main
    border-top-right-radius: 3.6em
    border-bottom-right-radius: 3.6em
  &:hover, &:active
    background-color: $color_main
    color: $color_active
    border-radius: 3.65em
  &:focus
    background-color: $color_active
    color: $color_main
    border-radius: 3.65em


.button-svg
  font-size: 1em
  width: 7.2em
  height: 7.2em
  border-radius: 50%!important
  padding: 0
  svg
    width: 3em
  &:hover, &:active
    border-radius: 50%!important
  &:focus
    border-radius: 50%!important