//оформление инпутов, чекбоксов, текстовых полей и других полей ввода для форм
@use "../base/variables" as *
form
  .description
    max-width: 48ch

input[type='text']
  font-size: 1.6rem
  line-height: 1
  width: 100%


.input_style_1
  position: relative
  display: inline-flex
  min-height: 5rem
  width: 100%
  max-width: 40em
  border-radius: 2em
  align-items: center
  background: $light_gray
  border: 1px solid $light_gray
  padding: 0 2em
  margin-top: 3em
  margin-bottom: 2em
  cursor: pointer
  font-family: $subFont
  span
    position: absolute
    top: -3rem
    left: 0
    font-weight: $fw_med
    line-height: 1
    font-size: 1.8rem
  input[type='text']
    color: $active
    font-weight: $fw_med
    &::placeholder
      font-weight: $fw_regular
      color: rgba($active, .5)
  &:hover
    border: 1px solid $active










