//все стили секции Футера
@use "../base/variables" as *


.footer
  margin-left: auto
  margin-right: auto
  margin-top: 5rem
  padding-top: 4rem
  padding-bottom: 4rem
  padding-left: 2rem
  padding-right: 2rem
  border-radius: 4rem
  background: $active
  width: 178rem
  max-width: calc(100vw - 3rem)
  color: $bg
  @media (max-width: $breakpoint-max-xl)
    .container
      max-width: 100%
  @media (max-width: $breakpoint-max-lg)
    width: auto
    max-width: calc(#{$breakpoint-min-lg} - 2 * #{$templateGap})

.footerLogo
  min-width: 16rem
.footerContacts
  display: flex
  gap: 6rem
  white-space: nowrap

.footerContacts_item_title
  margin-bottom: .5rem
.footerPolicy
  text-align: center
.footerActions
  display: flex
  gap: 2rem
@media (max-width: $breakpoint-max-xl)
  .footer .row
    flex-wrap: wrap
  .footerContacts
    gap: 3rem
  .footerContacts_item_title
  .footerPolicy
    order: 1
    margin: 2rem auto 0
  .footerActions
    gap: 1rem
@media (max-width: $breakpoint-max-lg)
  .footerPolicy
    order: 0
    margin: unset
@media (max-width: $breakpoint-max-md)
  .footerPolicy
    min-width: 70%
    order: 1
    margin: 2rem auto 0
