//все стили секции Хэдера
@use "../base/variables" as *
.header
  padding-top: 1.5rem
  padding-bottom: 3rem
  z-index: 2
.headerLogo
  user-select: none
  min-width: 14rem
  flex-shrink: 0

.headerMain
  text-align: center

.headerActions
  flex-shrink: 0
.hamburgerState
  display: none

@media (max-width: $breakpoint-max-lg)
  .header
    max-width: 100%
    padding-bottom: 1.5rem
  .headerLogo
     min-width: 18rem
     img
       min-width: 18rem
  .hamburgerState:checked+label
    opacity: 0
  .hamburgerState:checked+label+.hamburgerMenu
    transform: translateY(0)

.hamburgerMenu
  display: flex
  flex-direction: column
  gap: 2rem
  padding: 2rem 1rem
  border: 1px solid $dark50
  background-color: $bg
  border-bottom-left-radius: 4rem
  border-bottom-right-radius: 4rem
  position: absolute
  top: 0
  right: 0rem
  transform: translateY(-120%)
  box-shadow: 0 0 2rem rgba($light_gray, .5)
.hamburgerMenu_rotateText
  writing-mode: tb-rl