@use "variables" as *

//span 14 - auto - regular - dark_text
.span
  font-size: 1.4rem
  line-height: 1.5
  font-weight: $fw_regular
//a inherit - inherit - inherit
.a
  font-size: inherit
  line-height: inherit
  font-weight: inherit

//p 14 - 150% - regular - dark_text
.p
  max-width: 80ch
  font-size: 1.4rem
  line-height: 1.2
  font-weight: $fw_semi
  font-family: $subFont

//H1 60px - 120% - semi - dark_text
.h1
  font-size: 6rem
  line-height: 1.2
  font-weight: $fw_semi
  @media (max-width: $breakpoint-max-xl)
    font-size: 5rem
.h1_l
  @extend .h1
  font-weight: $fw_light


//H2 55px - 49px - semi - dark_text
.h2
  font-size: 5.5rem
  line-height: 1.225
  font-weight: $fw_semi
  @media (max-width: $breakpoint-max-xl)
    font-size: 5rem
  @media (max-width: $breakpoint-max-lg)
    font-size: 3rem

.h2_l
  @extend .h2
  font-weight: $fw_light


//H3 24 - auto - semi - dark_text
.h3
  font-size: 2.4rem
  line-height: 1.225
  font-weight: $fw_semi
  @media (max-width: $breakpoint-max-xl)
    font-size: 1.8rem
//H4 16 - auto - light - dark_text
.h4
  font-size: 1.6rem
  line-height: 1.225
  font-weight: $fw_semi
.h4_r
  @extend .h4
  font-weight: $fw_regular
//H5 14 -130% - regular - dark_text
.h5
  font-size: 1.4rem
  line-height: 1.3
  font-weight: $fw_regular
  font-family: $subFont
  letter-spacing: .01rem
.h6
  font-size: 2.4rem
  line-height: 1.2
  font-weight: $fw_extrabold
  font-family: $subFont
  letter-spacing: .01rem


//description 11 -100% - regular - dark_text
.description
  font-size: 1.1rem
  line-height: 1.2
  font-weight: $fw_regular

.uppercase
  text-transform: uppercase

.bold
  font-weight: $fw_bold
.light
  font-weight: $fw_light
.regular
  font-weight: $fw_regular

//strong inherit - inherit - bold - dark_text
.semibold
  font-weight: $fw_semi
.subFont
  font-family: $subFont