@use "palitra" as *

/*colors*/
$white: $white-100

$text_c_000: $white-100
$text_c_100: $black-100
$text_c_300: $black-300


$accent: $black-300
$blue: $black-300
$btnactive: $white-100

$bg: $white-100

/*fonts*/
$fontMonserrat: 'Montserrat',FiraCode, Helvetica, san-serif
$fontFira: 'FiraCode',Helvetica, san-serif

$fs_med: 500
$fs_semi: 600
$fs_extralight: 300
$fs_regular: 400
$fs_bold: 700

/*template*/
$gap: 1em

$content_container_size: 1600px
